/***
* Created by Edwin Prasetio
* custom css 
***/

/*
Color Pallete:
Blue: #49AEC0
Yellow: FFCC33;
Grey Border: #eee;
Grey Background: fcfcfc;
Old Red: #ff461a;
*/


html, body{height: 100%;/*font-family: 'Open Sans', sans-serif;*/}
body{font-size: 13px;color: #0d5a75;/*#494949;*/background-color: #fcfcfc;}
footer{color: #fcfcfc;background-color: #0d5a75;border-top: 2px solid #eee;
}

/* Headings Margins */
h1, h2, h3{margin-top: 5px;margin-bottom: 5px;}
h4, h5, h6{margin-top: 2px;margin-bottom: 2px;}
a{color: #0d5a75;/*#393939;*//*#49aec0;*/}
a:hover{text-decoration: none;}
.glyphicon{padding-left:10px;}

/*=== landing-page ===*/
#landing-page-header{background-color:#262626;width:100%;height: 100px;}
#landing-page-footer{background-color:#262626;width:100%;height: 100px;}
#landing-page-strap{background-color:#fe7600;width:100%;height: 10px;}
#landing-page-main{
	background-color:#262626;
	width:100%;
	height: 520px;
	color: #fff;
	padding:30px;
}

#landing-p1{
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	padding-top:70px;
}

#landing-p1-2{
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	padding-top:0px;
}

#landing-page-thnx-content{padding-top:100px;}

#landing-p2{
	font-size: 19px;
	text-align: center;
	padding-top:30px;
	padding-left:50px;
	padding-right:50px;
}

#signup-form{
	margin-left: auto;
	margin-right:auto;
	margin-top:40px;
	width:300px;
}

.signup-box{
	padding:7px;
	margin-right:10px;
	border:none;
	width:200px;
	color: #494949;
}

.signup-btn{
	background-color: #FF461a;
	border:none;
	padding:10px;
	font-weight: bold;
	color:#fff;
}

.signup-btn:hover{opacity: 0.8;color: #fff;}

/*=== navbar ===*/
/*
.navbar{margin-bottom: 0px;}
.navbar-inverse{background-color:#fcfcfc;color:#494949;border-bottom:solid 2px #d6d6d6;}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus{color: #729bc3;background-color: #fff;}
.navbar-inverse .navbar-nav>.active>a:hover{color: #fff;background-color:  #fff;}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus{color: #729bc3;background-color:  #fff;}
.navbar-inverse .navbar-nav>.open>a:hover{color: #fff;background-color:  #fff;}

.navbar-inverse .navbar-nav>li>a{color: #729bc3;background-color:  #fff;}

.main-nav>ul>li{padding:7px;}
.main-nav>ul>li:hover{padding:7px;padding-bottom: 0px;}
.main-nav>ul>li:hover>a{color:#fe7600;}
.main-nav>ul>li>a{font-size:15px;font-weight:500;}
*/

.navbar{margin-bottom: 0px;}
.navbar>.container-fluid .navbar-brand{
	height: 80px;
	margin-left:0px;
	margin-right:20px;
}

.nav{font-size: 20px;font-weight: 500;color: #0d5a75;padding-top:20px;}

.navbar-default .main-nav>li>a:hover{color:#fe7600;}
.navbar-default .cart-nav>li>a{color: #0d5a75;}
.navbar-default .cart-nav>li>a:hover{color:#fe7600;}



/*==== Sidebar ====*/

.sidebar{
	list-style-type: none;
	font-weight:inherit;
	-moz-padding-start:0px;
	-webkit-padding-start:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:2px solid #fe7600;
	border-bottom:2px solid #fe7600;

}

.sidebar>a>li{padding: 7px;}
.sidebar>a>li:hover{background-color:#fe7600; /*#25bfff;*/color:#fff;}

.sidebar-subtitle{
	border-bottom: 1px solid #fe7600;
	margin-top:10px;
	padding-bottom: 10px;
}

.nav-bold{background-color: #fe7600;color:#fff;}

/*=== Main Page ===*/
.cover{margin-bottom:5px;}

.temutemu-banner{
	color: #fff;
	padding-top: 10px;
	padding-left: 20px;
	width: 40%;
	position: absolute;
}
#welcome-msg{color:#fe7600;}

.cover-pic{overflow:hidden;}
.cover-pic>img{height: auto;width: 100%;}

#persuade-msg{text-align:center;color:#fe7600;margin-top:100px;margin-bottom:100px;}

.step-container{margin: 1px 0px 1px 0px;}
.step-block{padding:15px;height: 150px;text-align:center;margin-bottom:5px;}
.dark-block{background-color:#0d5a75;color:#fff;}
.light-block{background-color:#eee;}
.step-block-icon{font-size: 60px;margin: 5px;}

.main-page-btn{width: 150px;}

/*=== typography ===*/
.section-heading{
	font-size:21px;
	font-weight:500;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:4px;
	border-bottom: solid 1px #fe7600;
	color:#e0e0;
}

.section-title{
	font-size:17px;
	font-weight:500;
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	color:#e0e0;
}

/*=== Main Page Pictures ===*/
.main-page-pic{
	width:auto;
	height:400px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
}

/*=== Main Container ===*/
.main-container{
	max-width: 1170px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #d6d6d6;
	border-top: none;
	/* margin-top: 0px; */
	padding-bottom: 50px;
}

/*=== Product List Page ===*/
.product-list{padding-right: 15px;padding-left: 15px;}
.product-list>ul{margin-left: -40px;}

.tile{
	list-style-type: none;
	width: 200px;
	height: 220px;
	float: left;
	padding: 10px;
	margin: 10px;
	/*background-color: #fafafa;*/
	border-bottom: solid 1px #eee;
	border-radius: 2px;
}

.tile:hover{opacity:0.8;}
.tile:hover>a{color:#262626;}

.p_thumb{
	width: 100%;
	vertical-align: middle;
	margin-bottom:2px;
	border-radius:2px;
}

.p_name{
	margin-top: 7px;
	font-weight: 500;
	text-align: center;
	font-size: 14px;
}

.p_price{text-align: center;margin-top: 4px;}


/*=== Product Page ===*/
.main-pic:hover {opacity: 0.8;}

.main-pic>.item>img{
	padding: 2px;
	width: 220px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-bottom:1px solid #d6d6d6;
	margin-bottom:5px;
	cursor: zoom-in;
	cursor: -webkit-zoom-in;
}

.product-img-zoom{width:100%;height:100%;}
.modal-header{padding-bottom:25px;}
.product-descp{padding-left: 15px;padding-right: 15px;}
.product-descp>ul>li>a:hover{color:#fe7600;}

.payment-box{
	border: solid 1px #eee;
	border-radius:2px;
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#FCFCFC;
}

.quantity-box{
	margin-bottom: 15px;
	margin-left:auto;
	margin-right:auto;
	width: 52px;
}

.estore-btn-disabled{
	background-color: #eee;
	border:none;
	padding:10px;
	font-weight: bold;
	color:#fff;
	cursor: not-allowed;
}

.estore-btn-disabled:hover{color:#fff;}

.estore-btn{
	background-color: #fe7600; /*#25bfff;*/
	border-radius:2px;
	border:none;
	padding:10px;
	font-weight: bold;
	color:#fff;
}

.estore-btn:hover{opacity:0.8;color: #fff;}
.carousel-nav .carousel-indicators li img{width:44px;height:auto;}
.carousel-nav .carousel-indicators li img:hover{opacity:0.8;}
.carousel-nav{position:relative;}

.carousel-nav .carousel-indicators{
	bottom: 20px;
	position: static;
	margin-left: auto;
	margin-right: auto;
	width: auto;}

	.carousel-nav .carousel-indicators li{
		border: 1px solid #eee;
		border-radius:2px;
		width:45px;
		height:auto;
		margin: 0 4px 4px 0;
		text-indent:0;
		border-top-left-radius:0;
		border-top-right-radius:0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	blockquote{border:none;font-size:13px}
	#comments_list{border-bottom:solid 2px #eee;}

	/*=== Cart ===*/
	.cart-container{padding-left:15px;padding-right:15px;}
	.refresh-btn{padding: 0;border: none;background: none;}

	.quantity-box-cart{
		margin-bottom: 15px;
		margin-left:auto;
		margin-right:auto;
		width: 52px;
		display:inline;
	}

	.form-cart{display:inline;}


	/*=== Shipping Info ===*/
	.shipping-info-container{padding-left:50px;}

	.shipping-info-box{
		padding-top:5px;
		margin-bottom:7px;
		border:solid 1px #adabab;
		border-radius:2px;
	}


	/*=== Footer Container ===*/
	.footer-container{max-width:1170px;}

	.footer-content{
		margin-left:auto;
		margin-right:auto;
		max-width: 1170px;
	}

	.footer-contents{
		list-style-type: none;
		margin-top:5px;
		margin-bottom:10px;
		margin-left:15px;
		margin-right:15px;
	}

	/*footer>.footer-container>.footer-content>.col-md-4 {margin: 0px 10px 0px 10px;}*/

	.footer-contents>h4{color:#eee;}

	.footer-contents>li{
		/* margin-top: 15px; */
		margin-bottom: 7px;
		margin-left: -40px;
	}

	.footer-contents>li>a{color: #fcfcfc;}

	.footer-contents>li>a:hover{
		color: #fe7600; /*#25bfff;*/
	}

	.footer-subtitle{
		margin-top: 30px;
		margin-bottom: 7px;
		color: #ddd;
	}

	.orange-strap{
		height:2px;
		background-color:#fe7600;
	}

	.yellow-strap{
		height:5px;
		background-color:#ffbe1a;
	}

	.trademark-row{
		margin-top:20px;
	}

	.trademark{
		text-align: center;
		font-size: 12px;
		color: #fff;
	}

	/*=== Comment Box ===*/
	#HCB_comment_box .text-blur {
		color: #888;
		border-radius: 2px;
	}

	#HCB_comment_box .btn, #HCB_comment_box input[type="submit"].btn {
		border-radius: 2px;
		border-color: #eee;
		background-color: #fe7600;
		background-image: none;
		text-shadow: none;
		padding: 10px;
		box-shadow: none;
		font-weight: bold;
		color: #fff;
		opacity: 1;
	}

	#HCB_comment_box > h3 {
		border-bottom: 1px solid #fe7600;
		padding-bottom: 10px;
		margin-top: 50px;
		margin-bottom:20px;
	}

	#HCB_comment_box .btn, #HCB_comment_box input[type="submit"].btn:hover{opacity: 0.8;color: #fff;}


	/*=== Help Page ===*/
	.help-pics{height:350px;width:auto;margin: 40px 10px 20px 10px;}
