<!-- side nav bar -->
<div class="col-md-2 col-sm-3 col-xs-12" >
    <div class="category_nav">
      <ul class="sidebar sidebar-bottom">
        <a href="/home"><li class="nav-bold">Home</li></a>
        <a href="/product_list/0"><li>All Products</li></a>
        <a href="/product_list/9"><li>Popular Items</li></a>
        <h5 class="sidebar-subtitle">Categories</h5>
        <a href="/product_list/1"><li>Development Board</li></a>
        <a href="/product_list/2"><li>Sensors</li></a>
        <a href="/product_list/3"><li>Breakout Boards</li></a>
        <a href="/product_list/4"><li>Mechanical</li></a>
        <a href="/product_list/5"><li>Integrated Circuit</li></a>
        <a href="/product_list/6"><li>Prototyping Tools</li></a>
        <a href="/product_list/7"><li>Micontrollers</li></a>
        <a href="/product_list/8"><li>Components</li></a>
    </ul>
    </div>
</div><!-- /side nav bar -->