<footer>
  <div class="orange-strap">
  </div>

  <!-- footer container-->
  <div class="container footer-container">
    <!-- 1st row -->
    <div class="row footer-content">
      <!-- 1st column -->
      <div class="col-md-5">
        <div class="row footer-contents">
          <h5 class="footer-subtitle">About Us</h5>
        </div>
        <div class="row footer-contents">
          <p>TemuTemu didirikan dengan tujuan untuk membantu membangkitkan jiwa-jiwa penemu di diri setiap orang. Dengan menyediakan module-module serta tutorial-tutorial untuk membuat prototype ide secara cepat, diharapkan para consumer TemuTemu dapat merealisasikan kreativitas mereka tanpa perlu menghabiskan waktu membangun module-module dasar untuk ide mereka.</p>
        </div>
      </div> <!-- /1st column -->
      <!-- 2nd column -->
      <div class="col-md-4">
        <div class="row footer-contents">
          <h5 class="footer-subtitle">Contact Us</h5>
        </div>
        <div class="row footer-contents">
          <p>P: (+62 21)-581-8813</p>
          <p>Email: info@temutemu.com</p>
        </div>
      </div> <!-- /2nd column -->
      <!-- 3rd column -->
      <div class="col-md-2">
        <div class="row footer-contents">
          <h5 class="footer-subtitle">Info Lain</h5>
        </div>
        <ul class="row footer-contents">
          <li><a href="#"><p>Shipping</p></a></li>
          <li><a href="#"><p>FAQ</p></a></li>
          <li><a href="#"><p>Terms & Policy</p></a></li>
        </ul>
      </div> <!-- /3rd column -->
    </div>  <!-- /1st row -->
    <!-- 2nd row -->
    <div class="row trademark-row">
      <p class="trademark">&copy; TemuTemu 2014</p>
    </div>  <!-- /2nd row -->
  </div> <!-- /footer container -->
</footer>